<mat-toolbar>
  Bill App
</mat-toolbar>


<mat-card>


  <mat-form-field>

    <input [value]="textValue" matInput placeholder="Amount" type="number" />

  </mat-form-field>

  <mat-form-field>

    <input type="text" matInput placeholder="Item Name" />

  </mat-form-field>

  <mat-form-field>

    <input type="text" matInput placeholder="Total" />

  </mat-form-field>

  <p>
    <button mat-raised-button color="primary" (click)="addItem(textValue)">Add</button>
  </p>

  <div *ngIf="list">

    <ul>
      <li *ngFor="let item of list">
          {{ item.name }}
      </li>
    </ul>

  </div>

</mat-card>




